#viewport {
	/*position: absolute;*/
	width: 512px;
	height: 512px;
	background-color: #eeeeee;
	float: left;
}

.hidden {
	visibility: hidden;
	/*opacity: 0.01;*/
}

#scene {
	background-color: #eeeeee;
	border: 1px solid black;
	display: inline-block;
	height: 512px;
	width: 512px;
	margin-left: 1.0em;
}

#tail {
	/*display: inline-block;*/
	float: center;
}

.filter {
	border: 1px dotted black;
}